@font-face{
	font-family: 'Early GameBoy';
	src: url('../fonts/EarlyGameBoy.ttf ');
}

ul {
  list-style-type: none;
}

.resource-button-box {
  display: flex;
  flex-direction: row;
  margin-left:5%;
  margin-right:10%;
}

.resource-button-box > button {
  width:50%;
}

.single-story {
  width: 33.33333%;
  text-align: center;
  word-wrap: break-word;
}

.list-group {
  text-align: center;
  word-wrap: break-word;
  width: 20%;
}

.resources-list > ul > li, .resources-list > ul > img {
  margin-left: 10%
  margin-right: 10%;
}

.resources-list {
  display: flex;
  justify-content: center;
}

.resources-box > h3 {
  text-align: center;
}

.burndown-box {
  margin-left:25%;
  width:50%;
}

.resources-box {
  width: 80%;
  margin-left:10%;
  margin-top:5%;
  margin-bottom: 10%;
}

.stories-box {
  width:80%;
  margin-left: 10%;
}

.stories-resources-box {
  display: flex;
  flex-direction: column;
}

.stories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stories-box > h3 {
  text-align: center;
}

.stories-button-box {
  text-align: center;
  margin-bottom: 2%;
}

.titulo {
  margin-top: 20%;
  font-weight: bolder;
  font-size: 8em;
  text-align: center;
  z-index: 0;
}

button, a {
  margin-left: 1%;
  margin-top: 1%
}

.dates {
  padding-top: 1%;
  text-align: center;
}

.project-mods > button {
  height: 4em;
  width: 10%;
  background-color: #ff0000;
  color: white;
  border-color: #ff0000;
  float: inherit;
}

.project-mods > button:hover {
  background-color: #e60000;
  border-color: #e60000;
}

.project-view-box {
  text-align: center;
}

.project-view-header {
  word-wrap: break-word;
}

.project-view-header p {
  font-weight: bolder;
  font-size: 3em;
  float: inherit;
}

.dates {
  font-size: 1em;
  margin: 0% 5% 5% 5%;
}

.dashboard, .project-view-page {
  transform: translate(-10vw, 0);
  width: 100vw;
  height:100%;
  background-image: url('../images/wall.png');
  background-size: contain;
}

body {
  color:white;
	font-family: 'Early GameBoy';
  background-color: black;
  background-size: cover;
}

.flashit:after{
  position:fixed;
  content:"";
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(255,255,255,1);
  z-index:-1;
}

.flashit{
  -webkit-animation: flash ease-out 10s infinite;
  -moz-animation: flash ease-out 10s infinite;
  animation: flash ease-out 10s infinite;
  animation-delay: 2s;
}

@-webkit-keyframes flash {
  0% { opacity: 1; }
  2% { opacity: 0; }
  3% { opacity: 0.6; }
  4% { opacity: 0.2; }
  6% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes flash {
  0% { opacity: 1; }
  2% { opacity: 0; }
  3% { opacity: 0.6; }
  4% { opacity: 0.2; }
  6% { opacity: .9; }
  100% { opacity: 1; }
}

.input-group {
	color: black;
}

.image-thing img {
	border-radius:10px;
	border: solid maroon 3px;
}

.rain {
	background-image: url('../images/rain.gif');
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-size: cover;
}

.landing {
	background-image: url('../images/castle.jpg');
	height:100vh;
	width:100vw;
	position: fixed;
	background-size: cover;
	left: 0;
	top: 0;
}

.navbar {
	position: fixed;
	background-color: rgba(0, 0, 0, 1);
	color: white;
	width: 100%;
	height: 8vh;
	left: 0;
	top: 0;
	flex-direction: row;
}

.navbar-list {
	margin-bottom: 0px;
}

.navbar-list .button {
	float: right;
	margin: 10px;
}

.navbar-item {
	display: inline;
	font-size: 1.75em;
	color: white;
}

.navbar-header {
	margin-left: 2%;
	margin-right: 50%;
	font-size: 2em;
}

.navbar > div {
	position: fixed;
	top:1em;
	right:1em;
}

.modal-img {
	width: 30px;
	height: 30px;
}

.top-header {
	font-weight: bold;
	color: #ff0000;
	text-align: center;
	margin-top: 45vh;
}

.dashboard-header {
  margin-top: 7.5vh;
	text-align: center;
	font-weight: bold;
  font-size: 5em;
}


#resources-box, #projects-resources, #projects-box, .stories-box, .resources-box {
	border: 8px ridge #800000;
  background-color: rgba( 0, 0, 0, 0.6);
}

.pie-chart {
  margin: 0% 25% 0% 25%;
}

#resources-box {
  overflow-y:auto;
  height:50vh;
  margin: 0% 2% 2% 5%;
  width:89vw;
}

#projects-resources {
  overflow-y:auto;
  height:50vh;
  width:89vw;
  margin: 0% 0% 5% 5%;
}

.lists {
  /*display: flex;*/
}

#projects-resources > div > button {
  margin-right: 10%;
} 

#resources-box > .left > div > img {
  width: 75%;
}

#projects-resources > div > div > .right > .item > img {
  width: 35%
}

.fire {
 margin: 2% 5% 5% 5%;
 height:50vh;
 width:89vw;
 border: 8px ridge #800000;
 background-image:url('http://071bc3d04e2671665c74-5a267f839fbe60d0845a37698418bb02.r26.cf5.rackcdn.com/wp-content/uploads/2012/12/super-8-bit-fireplace.gif'); 
 background-size:cover;
}


#projects-resources > div > p {
  margin-left:12%
}

#projects-box {
	margin: 0% 5% 2% 5%;
}

#create-res, #create-proj {
	margin-left: 10px;
}

.title {
  text-align: center;
}

.proj-edit {
	float: right;
}

.proj-name {
	font-weight: bold;
  margin-left: 10%;
}

select {
	color: #333;
}

.delete-btn {
	float: right;
	height: 25px;
	line-height: 10px;
}

.create-modal {
	color: #555555;
}









.item:hover {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}



.image-thing {
  margin: 10px ;
  display: inline-block;
  text-align: center;
}
.gu-mirror {
  position: relative;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


.pie-chart {
	max-height: 50%;
	max-width: 50%;
}





.react-calendar-timeline * {
  box-sizing: border-box;
}
.react-calendar-timeline .rct-outer {
  display: block;
  overflow: hidden;
}
.react-calendar-timeline .rct-scroll {
  display: inline-block;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
.react-calendar-timeline .rct-canvas {
  position: relative;
}
.react-calendar-timeline .rct-items .rct-item {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  font-size: 12px;
  color: white;
  text-align: left;
  cursor: pointer;
  background: #2196F3;
  border: 1px solid #1A6FB3;
  z-index: 1;
}
.react-calendar-timeline .rct-items .rct-item.selected {
  background: #FFC107;
  border: 1px solid #FF9800;
  z-index: 2;
}
.react-calendar-timeline .rct-items .rct-item.selected.can-move {
  cursor: move;
}
.react-calendar-timeline .rct-items .rct-item.selected.can-resize {
  border-right-width: 3px;
}
.react-calendar-timeline .rct-items .rct-item.selected.can-resize .rct-drag-right {
  cursor: e-resize;
}
.react-calendar-timeline .rct-items .rct-item .rct-drag-right {
  position: absolute;
  width: 24px;
  max-width: 20%;
  min-width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}
.react-calendar-timeline .rct-items .rct-item:hover {
  z-index: 10;
}
.react-calendar-timeline .rct-items .rct-item .rct-item-overflow {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.react-calendar-timeline .rct-items .rct-item .rct-item-overflow:hover {
  overflow: visible;
  z-index: 10;
}
.react-calendar-timeline .rct-items .rct-item .rct-item-overflow .rct-item-content {
  white-space: nowrap;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  left: 0;
  padding: 0 6px;
  height: 100%;
}
.react-calendar-timeline .rct-header {
  margin: 0;
}
.react-calendar-timeline .rct-header .rct-label-group {
  position: absolute;
  top: 0;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border-left: 2px solid #bbb;
  color: #ffffff;
  background: #c52020;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}
.react-calendar-timeline .rct-header .rct-label {
  position: absolute;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #bbb;
  color: #333333;
  background: #f0f0f0;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}
.react-calendar-timeline .rct-header .rct-label.rct-label-only {
  color: #ffffff;
  background: #c52020;
}
.react-calendar-timeline .rct-header .rct-label.rct-first-of-type {
  border-left: 2px solid #bbb;
}
.react-calendar-timeline .rct-sidebar {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #bbb;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-header {
  margin: 0;
  color: #ffffff;
  background: #c52020;
  border-right: 1px solid #bbb;
  box-sizing: 'border-box';
  border-bottom: 1px solid #bbb;
  overflow: 'hidden';
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: content-box;
  margin: 0;
  border-bottom: 1px solid #bbb;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: rgba(0, 0, 0, 0.05);
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even {
  background: transparent;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-even, .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px solid #bbb;
  box-sizing: content-box;
  position: absolute;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: #606060;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
  background: #aeaeae;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl {
  position: absolute;
  border-left: 1px solid #bbb;
  background: #fff;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
  border-left: 2px solid #bbb;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6, .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
  background: rgba(250, 246, 225, 0.5);
}
.react-calendar-timeline .rct-today {
  position: absolute;
  width: 2px;
  background: red;
}
.react-calendar-timeline .rct-infolabel {
  position: fixed;
  left: 100px;
  bottom: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  z-index: 5;
}
