@font-face{
	font-family: 'Early GameBoy'
	src: '/Users/michaelfleming/Library/Fonts/Early\ GameBoy.ttf ';
}

body {
	background-color: #555555;
	color: white;
	font-family: 'Early GameBoy'
}

.input-group {
	color: black;
}

.image-thing img {
	border-radius:10px; 
	border: solid maroon 3px;
}

.background {
	background-image: url(http://img.pandawhale.com/post-9144-Imgur-Office-Tour-y2S1.gif);
	height:100vh;
	width:100vw;
	position: fixed;
	background-size: cover;
	left: 0;
	top: 0;
}

.navbar {
	position: fixed;
	background-color: black;
	color: white;
	width: 100%;
	left: 0;
	top: 0;
}

.navbar-list {
	margin-bottom: 0px;
}

.navbar-list button { 
	float: right; 
	margin: 10px; 
}

.navbar-list .button { 
	float: right; 
	margin: 10px; 
}

.navbar-item {
	display: inline;
	font-size: 1.75em;
	color: white;
}

.navbar-header {
	margin-left: 2%;
	margin-right: 50%;
	font-size: 2em;
}

.navbar > button {
	float: right;
	color: white;
}

.modal-img {
	width: 30px;
	height: 30px;
}

.top-header {
	font-weight: bold;
	color: #f47920;
	margin-left: 25vw;
	margin-top: 10vh;
}

#resources-box, #projects-box {
	float: left;
	border: 2px solid #f47920;
	padding: 20px;
}

#projects-box {
	margin-top: 100px;
	margin-left: 500px;
	width: auto;
	min-width: 350px;
}
#resources-box {
	margin-top: 10vh;
	position:fixed;
	overflow-y:scroll;
}

#create-proj {
	margin-left: 10px;	
}

.proj-edit {
	float: right;
}

.proj-name {
	font-weight: bold;
}

select {
	color: #333;
}

.delete-btn {
	float: right;
	height: 25px;
	line-height: 10px;
}

.create-modal {
	color: #555555;
}
.item:hover {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.container > div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}
.left{
	height:500px;
}
.right{
	
}
.image-thing {
  margin: 20px 0;
  display: block;
  text-align: center;
}
.gu-mirror {
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;	
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.react-calendar-timeline * {
  box-sizing: border-box;
}
.react-calendar-timeline .rct-outer {
  display: block;
  overflow: hidden;
}
.react-calendar-timeline .rct-scroll {
  display: inline-block;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
.react-calendar-timeline .rct-canvas {
  position: relative;
}
.react-calendar-timeline .rct-items .rct-item {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  font-size: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  background: #2196F3;
  border: 1px solid #1A6FB3;
  z-index: 1;
}
.react-calendar-timeline .rct-items .rct-item.selected {
  background: #FFC107;
  border: 1px solid #FF9800;
  z-index: 2;
}
.react-calendar-timeline .rct-items .rct-item.selected.can-move {
  cursor: move;
}
.react-calendar-timeline .rct-items .rct-item.selected.can-resize {
  border-right-width: 3px;
}
.react-calendar-timeline .rct-items .rct-item.selected.can-resize .rct-drag-right {
  cursor: e-resize;
}
.react-calendar-timeline .rct-items .rct-item .rct-drag-right {
  position: absolute;
  width: 24px;
  max-width: 20%;
  min-width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}
.react-calendar-timeline .rct-items .rct-item:hover {
  z-index: 10;
}
.react-calendar-timeline .rct-items .rct-item .rct-item-overflow {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.react-calendar-timeline .rct-items .rct-item .rct-item-overflow:hover {
  overflow: visible;
  z-index: 10;
}
.react-calendar-timeline .rct-items .rct-item .rct-item-overflow .rct-item-content {
  white-space: nowrap;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  left: 0;
  padding: 0 6px;
  height: 100%;
}
.react-calendar-timeline .rct-header {
  margin: 0;
}
.react-calendar-timeline .rct-header .rct-label-group {
  position: absolute;
  top: 0;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border-left: 2px solid #bbb;
  color: #ffffff;
  background: #c52020;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}
.react-calendar-timeline .rct-header .rct-label {
  position: absolute;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #bbb;
  color: #333333;
  background: #f0f0f0;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}
.react-calendar-timeline .rct-header .rct-label.rct-label-only {
  color: #ffffff;
  background: #c52020;
}
.react-calendar-timeline .rct-header .rct-label.rct-first-of-type {
  border-left: 2px solid #bbb;
}
.react-calendar-timeline .rct-sidebar {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #bbb;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-header {
  margin: 0;
  color: #ffffff;
  background: #c52020;
  border-right: 1px solid #bbb;
  box-sizing: 'border-box';
  border-bottom: 1px solid #bbb;
  overflow: 'hidden';
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: content-box;
  margin: 0;
  border-bottom: 1px solid #bbb;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: rgba(0, 0, 0, 0.05);
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even {
  background: transparent;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-even, .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px solid #bbb;
  box-sizing: content-box;
  position: absolute;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: rgba(0, 0, 0, 0.05);
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
  background: transparent;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl {
  position: absolute;
  border-left: 1px solid #bbb;
  background: #fff;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
  border-left: 2px solid #bbb;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6, .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
  background: rgba(250, 246, 225, 0.5);
}
.react-calendar-timeline .rct-today {
  position: absolute;
  width: 2px;
  background: red;
}
.react-calendar-timeline .rct-infolabel {
  position: fixed;
  left: 100px;
  bottom: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  z-index: 5;
}