body {
	background-color: #555555;
	color: white;
}

.navbar {
	position: fixed;
	background-color: black;
	color: white;
	width: 100%;
	left: 0;
	top: 0;
}

.navbar-list {
	margin-bottom: 0px;
}

.navbar-item {
	display: inline;
	font-size: 1.75em;
	color: white;
}

.navbar-header {
	margin-left: 2%;
	margin-right: 50%;
	font-size: 2em;
}

.navbar > button {
	float: right;
	color: white;
}

.modal-img {
	width: 30px;
	height: 30px;
}

.top-header, #resources-box, #projects-box {
	margin-top: 100px;
}

#resources-box, #projects-box {
	float: left;
	border: 2px solid #f47920;
	padding: 20px;
}

#projects-box {
	margin-left: 50px;
	width: auto;
	min-width: 350px;
}

#create-proj {
	margin-left: 10px;	
}

.proj-edit {
	float: right;
}

.proj-name {
	font-weight: bold;
}

select {
	color: #333;
}.delete-btn {
	float: right;
}